dev/schemas/izpack-langpack.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="langpack" type="langpacktype" />

<xs:complexType name="langpacktype">
	<xs:sequence>
		<xs:element name="str" type="strtype" minOccurs="1" maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>

<xs:complexType name="strtype">
	<xs:attribute type="xs:string" name="id" />
	<xs:attribute type="xs:string" name="txt" />
</xs:complexType>

</xs:schema>