dev/schemas/pivot.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 rel. 2 (x64) (http://www.altova.com)-->
<!ELEMENT tableViewSortListeners (#PCDATA)>
<!ELEMENT sort:SortActions ((bxml:define, TablePane))>
<!ATTLIST sort:SortActions
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:content CDATA #FIXED "org.apache.pivot.wtk.content"
	xmlns:model CDATA #FIXED "logic.model"
	xmlns:sort CDATA #FIXED "gui.pivot.actions"
>
<!ELEMENT ship:ShipActions ((bxml:define, TablePane))>
<!ATTLIST ship:ShipActions
	orientation CDATA #FIXED "Vertical"
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:content CDATA #FIXED "org.apache.pivot.wtk.content"
	xmlns:ship CDATA #FIXED "gui.pivot.actions"
>
<!ELEMENT set:SetActions ((bxml:define, TablePane))>
<!ATTLIST set:SetActions
	orientation CDATA #FIXED "vertical"
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:content CDATA #FIXED "org.apache.pivot.wtk.content"
	xmlns:model CDATA #FIXED "logic.model"
	xmlns:set CDATA #FIXED "gui.pivot.actions"
>
<!ELEMENT set:NGDialog ((TablePane))>
<!ATTLIST set:NGDialog
	bxml:id CDATA #FIXED "dialog"
	modal CDATA #FIXED "true"
	title CDATA #FIXED "Add New Group"
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:set CDATA #FIXED "gui.pivot.actions"
>
<!ELEMENT scan:ScanActions ((bxml:define, TablePane))>
<!ATTLIST scan:ScanActions
	orientation CDATA #FIXED "Vertical"
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:content CDATA #FIXED "org.apache.pivot.wtk.content"
	xmlns:scan CDATA #FIXED "gui.pivot.actions"
>
<!ELEMENT right ((FillPane))>
<!ELEMENT model:Pack EMPTY>
<!ATTLIST model:Pack
	icon CDATA #FIXED "/gui/icons/file.png"
	name CDATA #FIXED "Pack Name"
	size CDATA #FIXED "0"
>
<!ELEMENT left ((FillPane))>
<!ELEMENT corner ((TablePane))>
<!ELEMENT content:TableViewImageCellRenderer EMPTY>
<!ELEMENT content:ButtonData EMPTY>
<!ATTLIST content:ButtonData
	icon CDATA #REQUIRED
	text CDATA #IMPLIED
>
<!ELEMENT columns ((TablePane.Column+ | TableView.Column+))>
<!ELEMENT columnHeader ((TableViewHeader))>
<!ELEMENT cellRenderer ((content:TableViewImageCellRenderer))>
<!ELEMENT bxml:include EMPTY>
<!ATTLIST bxml:include
	bxml:id CDATA #FIXED "ngdialog"
	src CDATA #REQUIRED
>
<!ELEMENT bxml:define ((ButtonGroup | (FileBrowserSheet, (ButtonGroup, bxml:include?)?)))>
<!ELEMENT app:Master ((FillPane))>
<!ATTLIST app:Master
	maximized CDATA #FIXED "true"
	preferredHeight CDATA #FIXED "400"
	preferredWidth CDATA #FIXED "500"
	title CDATA #FIXED "DevComPack"
	xmlns CDATA #FIXED "org.apache.pivot.wtk"
	xmlns:app CDATA #FIXED "main.gui.pivot"
	xmlns:bxml CDATA #FIXED "http://pivot.apache.org/bxml"
	xmlns:content CDATA #FIXED "org.apache.pivot.wtk.content"
>
<!ELEMENT TreeView EMPTY>
<!ATTLIST TreeView
	bxml:id CDATA #FIXED "treeView"
	selectMode (single | none) #REQUIRED
>
<!ELEMENT TextInput EMPTY>
<!ATTLIST TextInput
	bxml:id (outPath | installPath | inPath | inGroupName) #REQUIRED
	prompt CDATA #IMPLIED
	textSize CDATA #FIXED "28"
>
<!ELEMENT TableViewHeader EMPTY>
<!ATTLIST TableViewHeader
	sortMode (single_column | none) #REQUIRED
	tableView CDATA #FIXED "$tableView"
>
<!ELEMENT TableView.Column ((cellRenderer?))>
<!ATTLIST TableView.Column
	headerData CDATA #IMPLIED
	name (size | priority | name | installType | icon) #REQUIRED
	width CDATA #REQUIRED
>
<!ELEMENT TableView ((columns, tableViewSortListeners?, model:Pack))>
<!ATTLIST TableView
	bxml:id CDATA #FIXED "tableView"
	selectMode CDATA #FIXED "single"
>
<!ELEMENT TablePane.Row ((Border | FillPane | Separator | TablePane | TextInput | (PushButton+, TablePane.Filler, BoxPane) | (Label, (Border, Label)?) | (BoxPane, Border?)))>
<!ATTLIST TablePane.Row
	height CDATA #IMPLIED
>
<!ELEMENT TablePane.Filler EMPTY>
<!ELEMENT TablePane.Column EMPTY>
<!ATTLIST TablePane.Column
	width CDATA #REQUIRED
>
<!ELEMENT TablePane ((columns, TablePane.Row+))>
<!ATTLIST TablePane
	preferredHeight CDATA #FIXED "-1"
	preferredWidth CDATA #FIXED "-1"
	styles CDATA #IMPLIED
>
<!ELEMENT TabPane.tabData ((content:ButtonData))>
<!ELEMENT TabPane ((corner, FillPane+))>
<!ATTLIST TabPane
	bxml:id CDATA #FIXED "tabPane"
	collapsible CDATA #FIXED "false"
	styles CDATA #FIXED "{tabOrientation:&apos;horizontal&apos;}"
>
<!ELEMENT StackPane ((ActivityIndicator, BoxPane))>
<!ELEMENT SplitPane ((left, right))>
<!ATTLIST SplitPane
	bxml:id CDATA #FIXED "splitPane"
	orientation CDATA #FIXED "horizontal"
	splitRatio CDATA #FIXED "0.5"
>
<!ELEMENT Separator EMPTY>
<!ELEMENT ScrollPane ((ListView | TreeView | (TableView, columnHeader)))>
<!ATTLIST ScrollPane
	horizontalScrollBarPolicy (fill_to_capacity | fill) #REQUIRED
	verticalScrollBarPolicy CDATA #FIXED "fill_to_capacity"
>
<!ELEMENT RadioButton EMPTY>
<!ATTLIST RadioButton
	buttonData CDATA #REQUIRED
	buttonGroup CDATA #REQUIRED
	bxml:id (rbUnzip | rbSize | rbName | rbInstallType | rbFileType | rbExecute | rbCustom | rbCopy | btRadSimple | btRadRecursiv) #REQUIRED
	enabled CDATA #FIXED "false"
	selected CDATA #FIXED "true"
>
<!ELEMENT PushButton ((content:ButtonData?))>
<!ATTLIST PushButton
	buttonData CDATA #FIXED "create"
	bxml:id (btUp | btTop | btRemove | btRefresh | btNext | btNew | btLaunch | btGroupAdd | btDown | btDebug | btCompile | btBrowse | btBottom | btBack | btAdd) #REQUIRED
>
<!ELEMENT ListView EMPTY>
<!ATTLIST ListView
	bxml:id CDATA #FIXED "logger"
	selectMode CDATA #FIXED "multi"
>
<!ELEMENT Label EMPTY>
<!ATTLIST Label
	bxml:id (labParentGroup | info | LogResult) #IMPLIED
	enabled CDATA #FIXED "true"
	styles CDATA #IMPLIED
	text CDATA #IMPLIED
>
<!ELEMENT ImageView EMPTY>
<!ATTLIST ImageView
	bxml:id CDATA #FIXED "LogResultIcon"
	image CDATA #FIXED "/gui/icons/attention.png"
	visible CDATA #FIXED "false"
>
<!ELEMENT FillPane ((BoxPane+ | TabPane | TablePane | (TabPane.tabData?, Border+)))>
<!ATTLIST FillPane
	enabled (true | false) #IMPLIED
	orientation CDATA #FIXED "Horizontal"
	styles CDATA #FIXED "{padding:4}"
>
<!ELEMENT FileBrowserSheet EMPTY>
<!ATTLIST FileBrowserSheet
	bxml:id CDATA #FIXED "fileBrowserSheet"
>
<!ELEMENT Checkbox EMPTY>
<!ATTLIST Checkbox
	buttonData CDATA #REQUIRED
	bxml:id (cbZip | cbSetup | cbHierarchiy | cbForce | cbExe | cbDir) #REQUIRED
	enabled CDATA #FIXED "false"
	selected (true | false) #REQUIRED
>
<!ELEMENT ButtonGroup EMPTY>
<!ATTLIST ButtonGroup
	bxml:id (sortMode | scanMode | installMode) #REQUIRED
>
<!ELEMENT BoxPane ((PushButton+ | RadioButton+ | (ImageView, Label) | (BoxPane, StackPane) | (Label, (TextInput, PushButton+)?) | (Checkbox, (Label | (TextInput, PushButton))?)))>
<!ATTLIST BoxPane
	orientation (vertical | horizontal | Vertical | Horizontal) #IMPLIED
	preferredHeight CDATA #FIXED "50"
	styles CDATA #REQUIRED
>
<!ELEMENT Border ((BoxPane | FillPane | ScrollPane | SplitPane | TablePane | bxml:include))>
<!ATTLIST Border
	styles CDATA #REQUIRED
	title CDATA #IMPLIED
>
<!ELEMENT ActivityIndicator EMPTY>
<!ATTLIST ActivityIndicator
	bxml:id CDATA #FIXED "waiter"
	preferredHeight CDATA #FIXED "24"
	preferredWidth CDATA #FIXED "24"
>
